html {
    max-width: 1024px;
    margin: auto;
}

body {
    width: 960px;
    height: 960px;
    margin: 0 auto;
    font: 'Arial', 'Helvectica Neue', sans-serif; 
}

p {
    border-width: 10px;
    border-color: #dddddd;
    width: 940px;
    padding: 10px;
    margin: auto; 
    text-align: center;
    color: #777777;
    background-color: #ffffff; 
    float: left;
    
     
}

article {
    float: left;
    overflow: auto;
    position: relative;
}

.namebox {
    background-color: #4aaaa5;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    z-index: 10;
    top: 0;
    right: -50;
    position: fixed;
    font-family: 'Arial', 'Helvectica Neue', Helvetica, sans-serif;
   
}
    
 .header {
    background-color: #ffffff;
    border-width: 5px;
    border-color: #cccccc;
    height: 63px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
        
}

 .h2 {
    background-color: #ffffff;
    padding: 20px 0px 0px 20px;
    height: 50px;
    width: 960px;
    font-size: 25px;
    color: #4aaaa5
           
}

.mypic {
    z-index: 20;
    float: left;
}

 .topnav {
    top: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    background-color: #A9A9A9
     
}

 .topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 14px 15px;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffffff
}


input[type=text], select, textarea {
    font-family: 'Arial', 'Helvectica Neue', Helvetica, sans-serif;
    width: 95%;
    padding: 12px;

}

form {
    font-family: 'Arial', 'Helvectica Neue', Helvetica, sans-serif;
    width: 960px;
    padding: 20px;
    background-color: #ffffff
    
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
   
}

.images {
    background-color: white;
    height: 960px;
    width: 1024px;
}

.box {
  
  height: 25px;
  width: 180px;
  padding: 10px;
  margin: 25px;
  background-color: #4aaaa5;
  text-align: center;
  color: #eeeeee;
  float: left;
  position: absolute;
  z-index: 5;
       
}

.img {
  padding: 5px;
  margin: 20px;
  float: left;
  position: relative;
  z-index: 2;
  }

.three {
    clear: both;
}

.five {
    clear: both;
}

.body {
    width: 940px;
    height: 960px;
    background-color: white;
   }

.pbody {
    width: 980px;
    height: 960px;
    background-color: white;
    }

footer{
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    margin-left: 0px;
    border-top: 5px solid aqua;
    margin-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
    }
