body {
    width: 960px;
    margin: 0 auto;
}

h1 {
    background-color: #4aaaa5;
   
}


#aboutme {
    float: left;
    font-size: 20px;
    color: #4aaaa5

}

.aboutMe {
    padding: 0px 20% 0px 20%;
    text-align: center;
    float: right;
    height: 960px;
    color: #777777;
    background-color: #FFFFFF
}

.topnav {
    background-color: #FFFFFF
}

.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 14px 15px;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffffff
    
}